<section data-bs-version="5.1" class="slider1 cid-tsKMe6Nerx" id="slider1-2">
    <div class="container">
    <div class="carousel slide" id="tsLhZOAYMd" data-interval="5000" data-bs-interval="5000" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-slide-to="0" data-bs-slide-to="0" class="active" data-target="#tsLhZOAYMd" data-bs-target="#tsLhZOAYMd"></li>
            <li data-slide-to="1" data-bs-slide-to="1" data-target="#tsLhZOAYMd" data-bs-target="#tsLhZOAYMd"></li>
            <li data-slide-to="2" data-bs-slide-to="2" data-target="#tsLhZOAYMd" data-bs-target="#tsLhZOAYMd"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item slider-image item active">
                <div class="item-wrapper">
                    <img class="d-block w-75" src="i/slide/1.jpg" alt="Mobirise Website Builder">
                    
                    <div class="carousel-caption">
                        <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                            <strong>&nbsp;</strong>
                        </h5>
                        <p class="mbr-section-text mbr-fonts-style display-7">&nbsp;<!-- description here --></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item slider-image item">
                <div class="item-wrapper">
                    <img class="d-block w-75" src="i/slide/2.jpg" alt="Mobirise Website Builder">
                    
                    <div class="carousel-caption">
                        <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                            <strong>&nbsp;<!-- title here --></strong>
                        </h5>
                        <p class="mbr-section-text mbr-fonts-style display-7">&nbsp;<!-- description here --></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item slider-image item">
                <div class="item-wrapper">
                    <img class="d-block w-75" src="i/slide/3.jpg" alt="Mobirise Website Builder">
                    
                    <div class="carousel-caption">
                        <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                            <strong>&nbsp;<!-- title here --></strong>
                        </h5>
                        <p class="mbr-section-text mbr-fonts-style display-7">&nbsp;<!-- description here --></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" data-bs-slide="prev" href="#tsLhZOAYMd">
            <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
            <span class="sr-only visually-hidden">Previous</span>
        </a>
        <a><div>
            
        </div></a>
        <a class="carousel-control carousel-control-next" role="button" data-slide="next" data-bs-slide="next" href="#tsLhZOAYMd">
            <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
            <span class="sr-only visually-hidden">Next</span>
        </a>
    </div>
    </div>
</section>

<a id="projects-anchor" name="pt"></a>

<section>
    <div class="container">
        <div class="row">
            <div class="col-4" id="projects">
                <h1 id="project-types">PROJECT TYPES</h1>
                
                <ul class="list-unstyled">
                    <li><a href="javascript:void(0)" image-id="project1" class="active">Residences</a></li>
                    <li><a href="javascript:void(0)" image-id="project2">Mixed Use + Multifamily</a></li>
                    <li><a href="javascript:void(0)" image-id="project3">Civic + Institutional</a></li>
                    <li><a href="javascript:void(0)" image-id="project4">Planning</a></li>
                </ul>
            </div>
            <div class="col">
                <img class="project d-block w-100" id="project1" src="i/project/residences.jpg" alt="residences project" />
                <img class="project w-100 invisible" id="project2" src="i/project/mixed-use-and-multifamily.jpg" alt="mixed use and mulifamily project" />
                <img class="project w-100 invisible" id="project3" src="i/project/civic-and-institutional.jpg" alt="civic and inititutional project" />
                <img class="project w-100 invisible" id="project4" src="i/project/planning.jpg" alt="planning project" />
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="d-block w-100" src="i/about.png" alt="About" />
            </div>
            <div class="col">
                <h1>ABOUT<a id="about-anchor" name="about"></a></h1>
                <p>Design Matters LLC is a full service architecture firm based in Salisbury, MD.  Our practice is owned and operated by father-son team Daniel Moreno-Holt and Carlos Moreno.</p>
                
                <p>Design Matters uses a network of expert freelancers to bring in required expertise on a project by project basis. Regardless of the size, type, and complexity of your project we can assemble the right team to bring your work into fruition.</p>
                
                <p>Contact us at <a href="mailto: designmattersarch@gmail.com">designmattersarch@gmail.com</a> to see if we can assist with your project.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <iframe src="https://snazzymaps.com/embed/479313" width="600px" height="450px" style="border:none;"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>CONTACT<a id="contact-anchor" name="contact"></a></h1>
                <ul class="list-unstyled">
                    <li><strong>Salisbury Office</strong></li>
                    <li>305 Monticello Ave.</li>
                    <li>Salisbury, MD 21801</li>
                    <li><a href="tel:+14436144451">443.614.4451</a></li>
                    <li>&nbsp;</li>
                    <li><a href="mailto: designmattersarch@gmail.com">designmattersarch@gmail.com</a></li>
            </div>
        </div>
    </div>
</section>