@charset "utf-8";
/* CSS Document */
*, a, p, span, b, i, h1, h2, h3, h4, h5, h6, srong, em, .display-1, .display-2, .display-4, .display-5, .display-7, .text-black, .link, .nav-link, .overlay { font-family: 'League Gothic', sans-serif; }
a, .link, .organge { color: #858585; }
a:hover, .link:hover, .orange:hover { color: #F7931E; } /* orange */
.header { font-family: 'Titillium Web', sans-serif;}
/* Titillium Web */
.slider.slider-horizontal {
    width:400px; /* sample value - set it as you like*/
  }